<ion-header>
  <ion-toolbar>
    <ion-title>
      LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="loginForm">

  <ion-card>
  <ion-list>
      <ion-item>
          
              <ion-label>E-mail</ion-label>
              
        <ion-input formControlName="email" type="text" placeholder="E-mail"></ion-input>
      </ion-item>
      <div class="error-message">
        <ng-container *ngFor="let error of error_messages.email">
          <div class="error-message" *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label>PASSWORD</ion-label>
        <ion-input formControlName="password" type="password" placeholder="PASSWORD"></ion-input>
      </ion-item>
      <div class="error-message">
        <ng-container *ngFor="let error of error_messages.password">
          <div class="error-message" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
    
    <ion-item>
    <ion-button [disabled]="!loginForm.valid" expand = "block" shape="round">LOGIN</ion-button>
        
    <a (click)="go()" style="cursor: pointer">SIGN UP</a>
      </ion-item>
<ion-item>
  <a style="cursor: pointer">Forgot Password!</a>
</ion-item>


      </ion-list>
  </ion-card>
</form>
</ion-content>